<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <script src="../../../bower_components/angular/angular.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

    <script src="../../front/main.app.js"></script>

    <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="main">

<!-- build:remove -->
<!-- Connect to server process -->
<script>require('electron-connect').client.create()</script>
<!-- end:build -->

<div class="container-fluid" ng-controller="loginController">

    <ul>
        <li ng-repeat="message in messages">{{ message.text }}
            <button class="btn btn-xs" ng-click="messages.$remove(message)">x</button>
        </li>
    </ul>

    <form>
        <input type="text" ng-model="message">
        <button class="btn btn-warning" ng-click="addMessage(message)">add</button>
    </form>
    <button class="btn btn-danger" ng-click="testDialog()">test Dialog box</button>
</div>


</body>
</html>
