<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="../../../bower_components/angular/angular.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

    <script src="../../front/login.js"></script>

    <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css">


</head>
<body ng-app="login">

<div class="container-fluid" ng-controller="loginController">
    <div ng-if="!wait">
        <h1>login</h1>
        <form name="loginForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" ng-model="user.email" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" ng-model="user.password" id="password" name="password">
            </div>

            <button type="submit" class="btn btn-info" ng-click="connect(user)">connect</button>
        </form>
    </div>
    <div ng-if="wait">
        <img src="../img/spinner.gif" alt="spinner">
    </div>
</div>
</body>
</html>
